.div1
{
  position: absolute;
  right: 0;
}
.App-header 
  {
    z-index: 1;
    width: 150px;
    will-change: transform;
    animation-duration: 5s;
    animation-name: slidein;
    animation-iteration-count: infinite;
    color: azure;
    right: 0;
    transform-origin: right;
    animation-direction: alternate;
    overflow: hidden;
  }
  @keyframes slidein {
    from {
      transform: translateX(20%) scaleX(1.2);
    }
  
    to {
      transform: translateX(150%) scaleX(1);
    }
  }
.fot
  {
    height: 300px;
    width: 230px;
    display: flex;
    z-index: 0;
    border-radius: 10px;
  }
.iconos
  {
    justify-Content: center;
    align-Items: center;
    display: flex;
    padding-Top: 9rem;
    gap: 10px;
  }
.div2
  {
    justify-Content:center;
    align-Items:center;
    display:flex;
    padding-Top:8rem;
  }
.contProy
  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 1rem;
    gap: 2rem;
    width: 100%;
    justify-content: center;
  }
.contimgP1
  {
   width: min-content;
  }
.imgProyect1
  {
    min-width: 200px;
    min-height: 100px;
    max-width: calc(25% - 2rem);
    max-height: 150px;
    border-radius: 20px;
    padding: 2px;
    background-color: #444343;
  }
.cardV
  {
    background-color: #444343; 
    padding: 2px;
    border: 1px solid #ccc; 
    border-radius: 20px; 
    max-height: 150px; 
    max-width: calc(25% - 2rem);
    min-width: 200px;
    min-height: 100px;
  }
@media (max-width:1000px)
  {
    .fot 
      {
        height:150px;
        width:115px;
      }
    .div1
      {
        right: -35px;
      }
    .iconos
      {
        padding-Top:13.5rem;
      }
    .div2
      {
        padding-Top:2rem;
      }
    .contProy
      {
        flex-direction:column;
        height: fit-content;
      }
    .contimgP1
      {
        margin: auto;
        width: min-content;
      }
    .imgProyect1
      {
        min-width: 200px;
        min-height: 120px;
      }
    .cardV
      {
        min-width: 60%;
        min-height: 120px;
        margin: auto;
      }
  }